{% extends 'base.html' %}

{% block navbar %}
{% csrf_token %}

<h1>Welcome！This is home page </h1>

{% if user.is_authenticated %}


<!--------------------------- driver home link ----------------------------->
{% if profile.is_driver %}
  &emsp;<button type="submit" onclick="location.href='{% url 'driver:driver-main' user.id %}'">Your Driver Home </button>
{% else %}
&emsp;<button type="submit" onclick="location.href='{% url 'driver:driver-update' user.id %}'">Want to register as a driver? </button>
{% endif%}
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<button type="submit" onclick="location.href='{% url 'main:update_password' %}'">change password </button>

<!--------------------------- Order and share link ----------------------------->

<br>
<br>

<table>
  <tr>
    <td>   <td><button type="submit" onclick="location.href='{% url 'order:order-create' %}'">Make a Riding Request </button></td></td>
    <td>   <td>&emsp;&emsp;&emsp;&emsp;<button type="submit" onclick="location.href='{% url 'share:share-home' %}'">Join another trip </button></td></td>
  </tr>
</table>
<br>

<!--------------------------- Current open order link ----------------------------->

<h3>Open order</h3>

{% if orders_open%}
  <table>
    <tr>
      <th>Destination</th>
      <th>Arrive Time</th>
      <th>Edit/View Detail</th>
      <th>Cancel</th>
    </tr>
  {% for order in orders_open %}
  <tr>
    <td>&emsp;{{ order.destination }}&emsp;</td>
    <td>&emsp;{{ order.arrival_time }}&emsp;</td>
    <td>&emsp;<button type="submit" onclick="location.href='{% url 'usr:usr-order-detail'  order.id%}'">edit / view </button>&emsp;</td>
    <td>&emsp;<button type="submit" onclick="location.href='{% url 'usr:usr-order-delete' order.id%}'">cancel</button>&emsp;</td>
  </tr>
  {% endfor %}
{% else %}
  <p>  currently you do not have any open order <p>
{% endif %}
</table>

<!--------------------------- Conform Order link ----------------------------->
<br>
<br>
<br>
<h3>Comfirm order</h3>
<table>
{% if orders_comfirm%}
  <table>
    <tr>
      <th>Destination</th>
      <th>Arrive Time</th>
      <th>Detail</th> 
    </tr>

    {% for order in orders_comfirm %}
    <tr>

      <td>&emsp;{{ order.destination }}&emsp;</td>
      <td>&emsp;{{ order.arrival_time }}&emsp;</td>
      <td>&emsp;<button type="submit" onclick="location.href='{% url 'usr:usr-order-detail'  order.id%}'">view detail </button>&emsp;</td></td>
    </tr>
    {% endfor %}

{% else %}
  <p>  currently you do not have any comfirm order <p>
{% endif %}

</table>

<!--------------------------- Share Order link ----------------------------->
<br>
<br>
<br>
<h3>Share order</h3>
<table>
  {% if share_orders %}
    <table>
      <tr>
        <th>Destination</th>
        <th>Arrive Time</th>
        <th>Detail</th>
        <th>Cancel</th>
      </tr>

    {% for share in share_orders %}
    <tr>
      <td>&emsp;{{ share.destination }}&emsp;</td>
      <td>&emsp;{{ share.arrival_time }}&emsp;</td>
      <td>&emsp;<button type="submit" onclick="location.href='{% url 'usr:usr-order-detail'  share.id%}'">view detail </button>&emsp;</td></td>
      {% if share.trip_status == 1 %}
      <td>&emsp;<button type="submit" onclick="location.href='{% url 'share:share-cancel'  share.id%}'">cancel </button>&emsp;</td></td>
      {% else %}
      <td>&emsp;<button type="submit" disabled>can't cancel </button>&emsp;</td></td>
      {% endif %}
    </tr>
    {% endfor %}
  {% else %}
    <p> currently you do not have any share order <p>
  {% endif %}
</table>

{% endif%}
{% endblock%}